header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #161617d9;
    border-radius: 20px;
    margin: 15px auto;
    width: 70%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  nav li {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  nav li:hover {
    background-color: #d0d0d0;
  }
  